.hydrogen-list-view {
  border: 1px solid #9b938f;
  border-radius: 4px;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 1px 1px #c9c9c9;
    pointer-events: none;
  }

  li {
    display: flex;
    align-items: center;
  }

  li:nth-child(even) {
    background-color: #f9f7f5;
  }

  li:nth-child(odd) {
    background-color: #ffffff;
  }
}
